<h2>About Page</h2>
<p>以下はユーザー一覧です:</p>
<ul>
  <li *ngFor="let user of users">
    {{ user.id }}: {{ user.name }}
    <button (click)="openDeleteDialog(user)">属性選択</button>
    <button (click)="openDeleteDialog(user)">削除</button>
  </li>
</ul>

<input #newUser type="text" placeholder="新しいユーザー名" />
<button (click)="addUser(newUser.value); newUser.value = ''">
  ユーザーを追加
</button>

<app-dialog
  #dialog
  [title]="dialogTitle"
  [message]="dialogMessage"
  [buttons]="dialogButtons"
  (buttonClick)="handleDialogAction($event)"
></app-dialog>
